<button [routerLink]="''"> Logout</button>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/editCompanyInfo" class="btn btn-info">Edit company info</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/addJob" class="btn btn-info">Add job</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/companyJobs" class="btn btn-info">my jobs</a>
              </li>
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>