<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">Job Recruitment</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/companyLogin" class="btn btn-info">Company Login</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/companyRegister" class="btn btn-info">Company Register</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/studentLogin" class="btn btn-info">Student Login</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/studentRegister" class="btn btn-info">Student Register</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/adminLogin" class="btn btn-info">Admin Login</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>