<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">HR Name</th>
          <th scope="col">Company Name</th>
          <th scope="col">HR Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of hr">
          <td>{{ x.name }}</td>
          <td>{{ x.companyName }}</td>
          <td><a href="mailto:{{ x.email }}">{{ x.email }}</a></td>
          <button (click)="delete(x.id)">Delete company</button>
          <button (click)="edit(x.id)">Edit company info</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>